:root {
    --dark-color: #1F1F1F;
    --light-color: #E0E0E0;
    --primary-color: #6369D1;
    --secondary-color: #D972FF;
    --tertiary-color: #F76C5E;
}
body {
    background-color: var(--dark-color);
}

/* boxes */
.box {

}
.b1-1 {

}
.b2-1 {

}
.b2-2 {
    
}