:root {
    --dark-color: #1F1F1F;
    --light-color: #E0E0E0;
    --primary-color: #00AAAA;
    --secondary-color: #AA00AA;
    --tertiary-color: #FF5555;
}

/* boxes */
.box {

}
.b1-1 {

}
.b2-1 {

}
.b2-2 {
    
}